<div class="main-page-gradient">
  <div>
    <app-proj-navbar></app-proj-navbar>
    <div class="row">
      <div class="col-xl-8">
        <div class="center div-position">
          <h1 class="text-style"><strong>Organize projects.</strong></h1>
          <h1 class="text-style"><strong>Get more done.</strong></h1>
          <button class="btn button-indigo text-white">Get Started.</button>
        </div>
        <div class="parallelogram-left-top"></div>
        <div class="parallelogram-left-bottom"></div>
        <div class="parallelogram-right-top"></div>
        <div class="parallelogram-right-middle"></div>
        <div class="parallelogram-right-bottom"></div>
      </div>
      <div class="col-xl-4">
        <div class="image-pane">
          <img src="assets/icons/iPhone_x.png">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-3">
  <app-proj-swipper></app-proj-swipper>
</div>
<app-tailor-made-features></app-tailor-made-features>
<app-real-stories-from-real-customers></app-real-stories-from-real-customers>
<div class="upper-space">
  <app-achievements></app-achievements>
</div>
<app-proj-footer></app-proj-footer>